@charset "UTF-8";

@font-face {
    font-family: 'SaturdayBright';
    src: url('Fontes/edwardian-script-itc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor01: #560174;
    --cor02: #f3e6fc;

    --fonte-titulos: sans-serif;
    --fonte-padrão: sans-serif;
    --fonte-destaque: 'SaturdayBright', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: var(--cor02);
}

header {
    background-image: linear-gradient(to bottom, #5501749d, var(--cor02));
}

header img {
    display: block;
    margin: auto;
    padding: 4%;
    width: 25%;
}

i#burguer {
    color: var(--cor02);
    background-color: var(--cor01);

    display: block;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

i#burguer:hover {
    background-color: var(--cor02);
    color: var(--cor01);
    font-weight: bolder;
}

menu {
    display: none;
    background-color: var(--cor01);
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
}

menu ul {
    list-style: none;
}

menu ul li a {

    display: block;
    padding: 10px 20px;
    color: var(--cor02);
    font-family: var(--fonte-titulos);
    font-size: large;
    font-weight: 600;
    text-align: center;
}

menu ul li a:hover {

    background-color: var(--cor02);
    color: var(--cor01);
    border-radius: 5px;
}


video {
    display: block;
    margin: 3vw auto;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
}

main {
    margin: 0vw 15vw;
    font-family: var(--fonte-padrão);
    text-align: justify;
}

main h1 {
    color: var(--cor01);
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 6vw;
    padding: 10px;
    font-weight: 600;
}


main p {
    font-family: var(--fonte-padrão);
    text-align: center;
    font-size: medium;
    padding-bottom: 15px;
    line-height: 30px;
}

#cronometro {
    margin: 30px 10vw 10px 10vw;
    background-image: linear-gradient(to bottom, var(--cor01), #dfb7fc);
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
}

#cronometro h1 {
    color: var(--cor02);
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 8vw;
    padding: 10px;
    font-weight: 600;
}

.timer {
    display: flex;
}

.cont-timer {
    width: 25vw;
    height: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--cor02);
    padding: 2vw;
}

.cont-timer div {
    font-size: 10vw;
    font-weight: 900;
    /*background-color: #55017479;*/
    border-radius: 10px 10px 0px 0px;
}

.cont-timer span {
    font-size: 3vw;
    font-weight: 600;
    font-family: var(--fonte-padrão);
    /*background-color: #55017479;*/
    border-radius: 0px 0px 10px 10px;
}

#festa img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 70vw;
    border-radius: 5px;
}

p#chamada {
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

p#data {
    text-align: center;
    padding-bottom: 0px;
}

p#endereco {
    text-align: left;
    margin-bottom: 30px;
}

div.localizacao {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

article#festa div iframe {
    width: 70vw;
    height: 40vw;
    border-radius: 5px;
}