@charset "UTF-8";

@font-face {
    font-family: 'Eaglese';
    src: url('Fontes/EAGLESE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor01: #560174;
    --cor02: #f3e6fc;

    --fonte-titulos: sans-serif;
    --fonte-padrão: sans-serif;
    --fonte-destaque: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    text-decoration: none;

}

body {
    background-color: var(--cor02);
}

header {
    background-image: linear-gradient(to bottom, #5501749d, var(--cor02));
}

header img {
    display: block;
    margin: auto;
    padding: 4%;
    width: 25%;
}

i#burguer {
    color: var(--cor02);
    background-color: var(--cor01);

    display: block;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

i#burguer:hover {
    background-color: var(--cor02);
    color: var(--cor01);
    font-weight: bolder;
}

menu {
    display: none;
    background-color: var(--cor01);
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
}

menu ul {
    list-style: none;
}

menu ul li a {

    display: block;
    padding: 10px 20px;
    color: var(--cor02);
    font-family: var(--fonte-destaque);
    font-size: large;
    text-align: center;

}

menu ul li a:hover {

    background-color: var(--cor02);
    color: var(--cor01);
    font-weight: bolder;
    border-radius: 5px;

}


video {
    display: block;
    margin: 3vw auto;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.267);
}

main{
    margin: 0vw 15vw;
    font-family: var(--fonte-padrão);
    text-align: justify;  
}

main h1{
    color: var(--cor01);
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 5vw;
    padding: 10px;
}


main p {
    font-family: var(--fonte-padrão);
    text-align: justify;    
    font-size: medium;
    padding-bottom: 15px;
}

article#festa img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 70vw;
    border-radius: 5px;
}

div.localizacao{
    
    display: block;
    margin: auto;
    margin-bottom: 20px;
   
    text-align: center;
}

article#festa div iframe{
    width: 70vw;
    height: 40vw;
    border-radius: 5px;
    

}












    footer {
        background-image: linear-gradient(to bottom, var(--cor02), #5501749d);

        height: 100px;

    }